
.select-menu {
  max-width: 200px;
  line-height: 25px;
  font-size: 14px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  height: 31px;
}

.select-menu * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.select-menu .select-title, .select-menu .option-item {
  padding: 2px 8px;
}

.select-menu .select-title {
  border: solid 1px hsl(240,60%,90%);
  border-radius: 2px;
}

.select-arrow {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.select-menu .option-item {
  border: 1px solid hsl(0,0%,90%);
  border-top: 0px;
  cursor: pointer;
}

.select-menu .option-item:hover {
  background-color: hsl(120,30%,97%);
}

.select-menu .select-list {
  display: none;
}

.select-menu .select-list.menu-open {
  display: block;
}

.select-menu .selected-item {
  border-left: 3px hsl(240,80%,86%) solid;
}